@import url('https://fonts.googleapis.com/css?family=Alice|Open+Sans');

@mixin alicefont
{
  font-family: 'Alice';
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: white;
  background: black;
}

main
{
  padding: 85px 25px 75px 25px;
  background: url(../images/bg-main.jpg) no-repeat center center;
  background-size: cover;
  
  @media screen and (max-width: 480px)
  {
    padding: 25px;
  }
}

.logo
{
  max-width: 300px;
  margin: 0 auto;
  
  img
  {
    display: block;
    width: 100%;
    height: auto;
  }
}

.coming-soon
{
  text-align: center;
  padding-top: 8%;
  
  h2
  {
    @include alicefont;
    font-weight: normal;
    font-size: 3.6em;
    padding-bottom: 50px;
    line-height: 1;
  }
  p
  {
    font-size: 1.4em;
  }
  form
  {
    padding-top: 50px;
    font-size: 1.4em;
    max-width: 580px;
    margin: 0 auto;
    text-align: left;
  }
  label > div
  {
    line-height: 42px;
  }
  .field-name
  {
    width: 45%;
    margin-right: 10%;
    float: left;
    
    @media screen and (max-width: 480px)
    {
      width: auto;
      margin-right: 0;
      float: none;
      margin-bottom: 1em;
    }
  }
  .field-email
  {
    float: left;
    width: 45%;
    
    @media screen and (max-width: 480px)
    {
      width: auto;
      float: none;
    }
  }
  .form-actions
  {
    text-align: center;
    clear: both;
    padding-top: 5%;
  }
  button
  {
    font-size: 0.75em;
  }
}

label > div
{
  @include alicefont;
  border-bottom: 2px solid white;
}
input[type=text],
input[type=email]
{
  font-family: inherit;
  font-size: inherit;
  border: 0;
  color: white;
  height: 42px;
  line-height: 42px;
  padding: 0 8px;
  box-sizing: border-box;
  width: 100%;
  background: transparent;
}

button,
input[type=submit]
{
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 0.8em;
  color: black;
  background: white;
  text-align: center;
  min-width: 120px;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
  
  &:hover,
  &:focus
  {
    background: black;
    color: white;
  }
}

footer
{
  clear: both;
  background: black;
  padding: 50px 25px;
}

.menu--footer
{
  list-style: none;
  text-align: center;
  
  li
  {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
  }
  a
  {
    font-size: 0;
    display: block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-decoration: none;
  }
  .linkedin
  {
    background-image: url(../images/linkedin.svg);
  }
  .instagram
  {
    background-image: url(../images/instagram.svg);
  }
}

